<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <p class="navbar-brand">Stat Analysis</p>
            </div>
            <div id="navbar">
                <ul class="nav navbar-nav">
                    <li><a href="#">New Project</a></li>
                    <li><a href="/settings">Settings</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="home-content">
            <h1>Stat Analysis</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean urna risus, sagittis vitae
                pellentesque quis, convallis eget risus. Aenean sit amet ligula ut risus lobortis fringilla. Curabitur
                nisi eros, posuere ac lectus nec, tempus dictum massa. Praesent erat leo, sodales vel urna eu, malesuada
                bibendum lorem</p>
        </div>
    </div>
</body>
</html>