{% extends "layout.html" %}
{% block body %}
    <div class="container root-container">
        <h2 class="text-center">New Project</h2>
        <form method="POST" action="{{ url_for('new') }}" enctype="multipart/form-data">
            <div class="form-group">
                <label for="project_name">Project Name:</label>
                <input type="text" class="form-control auto-width" id="project_name" name="project_name" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="file">Data File:</label>
                <input type="file" class="form-control auto-width file" id="upload_data" name="upload_data">
            </div>
            <button class="btn btn-default" type="submit">Create Project</button>
        </form>
    </div>
{% endblock %}