{% macro table_view(headers,data,truncated=False) -%}
<table class="table table-hover data-table">
    <tbody>
        <tr>
            {% for header in headers %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>
        {% for row in data %}
            <tr>
                {% for _,val in row.items() %}
                        <td>{{ val }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        {% if truncated %}
            <tr>
                <td colspan="{{ headers|length }}" class="text-center text-primary">View All Data</td>
            </tr>
        {% endif %}
    </tbody>
</table>

{%- endmacro %}