body{
    padding-top:50px;
}
root-container{
    padding-top:50px;
}
.home-content{
    text-align:center;
    padding:40px 20px;
}
.auto-width{
    width:auto !important;
}
.data-table{
    display:block;
    overflow-x:scroll;
}