{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <div class="home-content">
            <h1>Stat Analysis</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean urna risus, sagittis vitae
                pellentesque quis, convallis eget risus. Aenean sit amet ligula ut risus lobortis fringilla. Curabitur
                nisi eros, posuere ac lectus nec, tempus dictum massa. Praesent erat leo, sodales vel urna eu, malesuada
                bibendum lorem</p>
        </div>
    </div>
{% endblock %}