{% extends "layout.html" %}
{% block body %}
    <div class="container root-container">
        <h2 class="text-center">Setup Columns</h2>
        <form method="POST" action="{{ url_for('new_project_columns') }}">
            {{ form.csrf_token }}
            <table class="table">
                <tbody>
                    <tr>
                        <th>Column names</th>
                        <th>Data Type</th>
                        <th>Format</th>
                    </tr>
                    {% for h_index,header in headers %}
                        <tr>
                            <td>
                                <input type="text" name="columns-{{ h_index }}-name" value="{{ header }}">
                            </td>
                            <td>
                                <select name="columns-{{ h_index }}-d_type" class="col_setup_data_type">
                                    <option value="string" selected="selected">String</option>
                                    <option value="numeric">Numeric</option>
                                    <option value="datetime">Date Time</option>
                                </select>
                            </td>
                            <td><input name="columns-{{ h_index }}-format" type="text" disabled="disabled"></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}