{% extends "layout.html" %}
{% import "table.html" as table %}
{% block body %}
    <div class="container root-container">
        <h2 class="text-center">{{ project_name }}</h2>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="informationHead">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#information"
                           aria-expanded="true" aria-controls="information">
                            Information
                        </a>
                    </h4>
                </div>
                <div id="information" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <table class="table auto-width">
                            <tbody>
                                <tr>
                                    <td><b>Columns: </b></td>
                                    <td>{{ headers|length }}</td>
                                </tr>
                                <tr>
                                    <td><b>Rows: </b></td>
                                    <td>{{ rows }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="searchHead">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                           href="#search" aria-expanded="false" aria-controls="collapseTwo">
                            Search
                        </a>
                    </h4>
                </div>
                <div id="search" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <form method="post" class="auto-width" action="{{ url_for('project_search') }}">
                            <fieldset id="search_rows">
                                <table class="table auto-width" id="search_rows_tbl">
                                    <tbody>
                                        <tr class="search_row">
                                            <td>
                                                <select name="column_select[]">
                                                    {% for header in headers %}
                                                        <option value="{{ header }}">{{ header }}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <input type="text" name="regex_search[]" placeholder="Regex search pattern">
                                            </td>
                                            <td>
                                                <button class="btn btn-danger remove_search_row" type="button" disabled="disabled">-</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button class="btn btn-success" id="add_search_row" type="button">+</button>
                            </fieldset>
                            <button type="submit" class="btn btn-primary">Search</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="graphHead">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                           href="#graphSetup" aria-expanded="false" aria-controls="information">
                            Graph
                        </a>
                    </h4>
                </div>
                <div id="graphSetup" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="graph_type">Graph type</label>
                            <select name="graph_type" id="graph_type">
                                <option value="scatter">Scatter</option>
                                <option value="line">Line</option>
                                <option value="bar">Bar</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="x_axis">X Axis</label>
                            <select name="x_axis" id="x_axis">
                                {% for header in headers %}
                                    <option value="{{ header }}">{{ header }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="y_axis">Y Axis</label>
                            <select name="y_axis" id="y_axis">
                                {% for header in headers %}
                                    <option value="{{ header }}">{{ header }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" id="graph_it_btn" class="btn btn-primary">Graph it</button>
                    </div>
                    <div id="graph_output"></div>
                </div>
            </div>
            {% if already_collated is not defined %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="collateHead">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                           href="#collate" aria-expanded="false" aria-controls="collapseThree">
                            Collate data
                        </a>
                    </h4>
                </div>
                <div id="collate" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <form method="post" class="auto-width" action="{{ url_for('project_collate_data') }}">
                            <div class="form-group">
                                <label for="condition_col">
                                    Column:
                                </label>
                                <select name="condition_col" id="condition_col">
                                    {% for header in headers %}
                                        <option value="{{ header.name }}" data-d-type="{{ header.d_type }}">
                                            {{ header.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                                <label for="collate_condition">
                                    Condition:
                                </label>
                                <select name="condition" id="collate_condition">
                                    <option value="matches" data-d-types="string numeric datetime">Matches</option>
                                    <option value="matches_regex" data-d-types="string numeric datetime">Matches Regex</option>
                                    <option value="same_hour" data-d-types="datetime">Same Hour</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="action">
                                    Action:
                                </label>
                                <select name="action" id="action">
                                    <option value="sum">Sum</option>
                                </select>
                                <label for="action_col">
                                    Column:
                                </label>
                                <select name="action_col" id="action_col">
                                    {% for header in headers %}
                                        <option value="{{ header.name }}">{{ header.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Collate</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="viewCollatedDataHead">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                           href="#viewCollatedData" aria-expanded="false" aria-controls="information">
                            View Collated Data
                        </a>
                    </h4>
                </div>
                <div id="viewCollatedData" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <ul>
                            {% for data in collate_data_saves %}
                                <li>
                                    <a href="{{ url_for('view_collate_data',collate_id=data.id) }}">
                                        {{ data.save_name }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {{ table.table_view(headers,view_data,truncated) }}
    </div>
{% endblock %}